.nav-section{
    background-image: url("https://i.ibb.co/hX07m75/Rectangle-1.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 20px 60px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

@media (max-width: 600px){
    .nav-section{
        background-image: url("https://i.ibb.co/PwDbfG6/Rectangle-1-1.webp");
        padding:20px 10px;
        padding-bottom: 20px;
        background-size:contain;
        align-items: center;
        align-content: center;
        margin-top: 0px;
    }
    .logo{
        width:90%;
    }
}

@media (max-width: 600px){
    .nav-section{
        background-image: url("https://i.ibb.co/PwDbfG6/Rectangle-1-1.webp");
        padding:20px 10px;
        padding-bottom: 20px;
        background-size:contain;
        align-items: center;
        align-content: center;
    }
    .logo{
        width:90%;
    }
}

@media (max-width: 950px){
    .nav-section{
        background-image: url("https://i.ibb.co/ZWV8mqb/Rectangle-1-2.webp");
        padding:20px 10px;
        padding-bottom: 20px;
        background-size:contain;
        align-items: center;
        align-content: center;
    }
    .logo{
        width:60%;
    }
}