/* Default Navbar Styles */
.nav-section {
    background-image: url("https://i.ibb.co/j89WZCg/Rectangle-1-3.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  
 
  
  /* For Medium Screens */
  @media (max-width: 1000px) {
    .nav-section {
      padding: 16px 20px 20px 20px;
      margin-bottom: 10px;
    }
    .logo {
      width: 60%;
    }
    .badge{
        height: 10px;
        padding: 4px;
        font-size: 5px;
    }
  }
  
  /* For Small Screens */
  @media (max-width: 600px) {
    .nav-section {
      padding: 10px 10px 15px 10px;
      background-image: url("https://i.ibb.co/PwDbfG6/Rectangle-1-1.webp");
      background-size: cover;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .logo {
      width: 80%;
    }
    .menu-icon{
        font-size: 16px;
    }
    .badge{
        height: 10px;
        padding: 4px;
        font-size: 5px;
    }
    .navbar-end, .navbar-start{
      
      font-size: 8px;
    }
  }
  
  /* Dropdown Menu */
  .dropdown-menu {
    display: none;
  }
  
  /* Show Dropdown Menu on Hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  