/* Dashboard.css */
.drawer {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.drawer-toggle {
  display: none;
}

.drawer-content {
  flex: 1;
  transition: margin-left 0.3s;
  padding-bottom: 100px;
}

.drawer-side {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  transition: width 0.3s;
  overflow-y: auto;
  background: #fff; /* Adjust as needed */
  z-index: 100;
}

.drawer-toggle:checked ~ .drawer-side {
  width: 20rem; /* Adjust the width as needed */
}

.drawer-toggle:checked ~ .drawer-content {
  margin-left: 20rem; /* Same as the drawer width */
}
html:has(.drawer-toggle:checked) {
  scrollbar-gutter: inherit !important;
}
