.drawer {
    display: flex;
  }
  
  .drawer-toggle {
    display: none;
  }
  
  .drawer-content {
    flex: 1;
    min-height: 100vh;
    transition: margin-left 0.3s;
  }
  
  .drawer-side {
    width: 0;
    transition: width 0.3s;
    height: 100vh;
    overflow-y: auto;
  }
  
  .drawer-toggle:checked ~ .drawer-side {
    width: 20rem; /* Adjust the width as needed */
  }
  
  .drawer-toggle:checked ~ .drawer-content {
    margin-left: 20rem; /* Same as the drawer width */
  }
  